@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&family=Pacifico&family=Poppins:wght@200;300;400&display=swap');

*{
    scroll-behavior:smooth;
    font-family: 'Caveat', cursive;
   }

:root{
    --bg-color: rgb(6, 52, 51);
    --second--bg-color: rgb(25, 93, 73);
    --second-text-color: rgb(40, 100, 86);
    --text-color: rgb(142, 215, 172);
    --main-color: white;   
}

body{
    background-image: url("img.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--main-color);
}
.header{
    top: 0;
    left: 0;
    width: 100%;
    font-size: 3.1rem;
    height: 4rem;
    padding: .5rem;
    color: var(--text-color);
    background: var(--bg-color);
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    font-family: 'Pacifico', cursive,'Poppins', sans-serif; 
}
.p{
    font-family:sans-serif;
    font-size: 1rem;
    text-align: center;
}
.button{
    margin-left: -50px;
}
button{
    border: none;
    outline: none;
    padding: 10px 30px;
    font-weight: 20px;
    border-radius: 3px;
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
}
.box{
    margin-left: 33%;
    font-size: 4rem;
    margin-top: 2%;
    text-align: center;
    max-width: 450px;
    background: var(--second-text-color);
    border-radius: 8px;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0.4,1);
    padding: 20px;
}
.box h3{
    margin: 0;
}
input{
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    width: 80%;
    height: 2rem;
    size: 500px;
    outline: none;
    border-radius: 10px 0 0 10px;
}
.icon{
    flex: 1;
    height: 60px;
    line-height: 60px;
    padding: 0 5px;
    text-align: center;
    font-size: 40px;
}
.head{
    border: .2rem solid var(--text-color);
    border-radius: 20px;
}